<web-app>
    <!-- Add additional servlets and servlet mappings here -->

    <servlet>
        <servlet-name>testServlets.PicturesServlet</servlet-name>
        <servlet-class>testServlets.PicturesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>testServlets.PicturesServlet</servlet-name>
        <url-pattern>/pictures/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>testServlets.BlankServlet</servlet-name>
        <servlet-class>testServlets.BlankServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>testServlets.BlankServlet</servlet-name>
        <url-pattern>/blank/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayMetricsServlet</servlet-name>
        <servlet-class>DisplayMetricsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayMetricsServlet</servlet-name>
        <url-pattern>/metrics/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestMetricsServlet</servlet-name>
        <servlet-class>RequestMetricsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RequestMetricsServlet</servlet-name>
        <url-pattern>/requestMetrics/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>MetricsFilter</filter-name>
        <filter-class>MetricsFilter</filter-class>
    </filter>

    <!-- add additional servlets to monitor below using template:
    <filter-mapping>
        <filter-name>MetricsFilter</filter-name>
        <servlet-name>ServletName</servlet-name>
    </filter-mapping>
    -->

    <filter-mapping>
        <filter-name>MetricsFilter</filter-name>
        <servlet-name>testServlets.PicturesServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MetricsFilter</filter-name>
        <servlet-name>testServlets.BlankServlet</servlet-name>
    </filter-mapping>
</web-app>